@charset "EUC-KR";


/* =================== post ================ */

.post_table
{
	border-collapse : collapse;
	width: 100% ;
	align: center;
	background-color:white;
}

.post_table th
{
	border-bottom:1px solid #E6E7E8;
	padding: 10px;
}

.post_table td
{
	border-bottom:1px solid #E6E7E8;
	padding: 10px;	
}

.post_table a
{
	text-decoration-line: none;
	color: black;
}

/* =================== rcp ================ */

.rcp_span_th
{
    color: #74b243;
    display: block;
    font-weight: bold;
    margin: 0 5px 0 0;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    height: 41px;
    width: 100%;
    padding-top: 12px;
}

#rcp_span a
{
	color: #666666;
	font-size: 15px;
	text-decoration-line: none;
	display: inline-block;
	margin: 0px 5px 0px 20px;
	text-align: center;
	vertical-align: middle;
	height: 41px;
    padding-top: 12px;
}


#rcp_select span
{
	color: black;
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
	margin: 0px 5px 0px 20px;
	text-align: center;
	vertical-align: middle;
	height: 41px;
    padding-top: 12px;
}

#rcp_span a:hover 
{
	color:#7DC28F; 
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

/* ===================  view  ================ */

.viewtd
{
	vertical-align:top; 
	text-align:left; 
	padding :50px
}

.view_foodtitle
{
	text-align:center; 
	font-size:25px; 
	font-weight:1000;
	height:50px;
}

.view {
    color: black;
    padding: 15px 35px 15px 15px;
}

.view b {
    font-size: 20px;
    padding-left: 8px;
    font-weight:bold;
}

.view span {
    color: #CCCCCC;
    font-size: 18px;
    padding-left: 4px;
}

.view_step {
    padding: 35px 0 10px;
}

.steptitle {
	display: table-cell;
    vertical-align: middle;
    padding: 10px 0px 0 5px;
    font-weight:500;
    font-size:18px;
    height:300px;
    margin-right:50px;
}


.steptitle textarea
{
  width:600px;
  height:250px;
  font-size:18px;
  padding-left:10px;
  margin-left:15px;
  resize: none;
  vertical-align: middle;
}

.rowtextarea 
{
  width:600px;
  height:250px;
  font-size:18px;
  padding-left:10px;
  margin-left:15px;
  resize: none;
  vertical-align: middle;
}

.steppic {
	text-align:center;
    width: 100%;
    height:500px;
    margin-top: 20px;
    
}

.view_step_no1 {
    background: url(//recipe1.ezmember.co.kr/img/icon_step_1.gif) no-repeat 48px 6px;
    background-size: 36px;
    float:left;
}
.view_step_no2 {
    background: url(//recipe1.ezmember.co.kr/img/icon_step_2.gif) no-repeat 48px 6px;
    background-size: 36px;
    float:left;
}
.view_step_no3 {
    background: url(//recipe1.ezmember.co.kr/img/icon_step_3.gif) no-repeat 48px 6px;
    background-size: 36px;
    float:left;
}
.view_step_no4 {
    background: url(//recipe1.ezmember.co.kr/img/icon_step_4.gif) no-repeat 48px 6px;
    background-size: 36px;
    float:left;
}
.view_step_no5 {
    background: url(//recipe1.ezmember.co.kr/img/icon_step_5.gif) no-repeat 48px 6px;
    background-size: 36px;
    float:left;
}
.view_step_no6 {
    background: url(//recipe1.ezmember.co.kr/img/icon_step_6.gif) no-repeat 48px 6px;
    background-size: 36px;
    float:left;
}
.view_step_no7 {
    background: url(//recipe1.ezmember.co.kr/img/icon_step_7.gif) no-repeat 48px 6px;
    background-size: 36px;
    float:left;
}
.view_step_no8 {
    background: url(//recipe1.ezmember.co.kr/img/icon_step_8.gif) no-repeat 48px 6px;
    background-size: 36px;
    float:left;
}

/* =================== modify  ================ */


.modify_foodtitle
{
	text-align:center; 
	font-size:25px; 
	font-weight:1000;
	height:50px;
}

.modify_foodtitle input
{
	width:70%;
	height:30px;
	font-size:25px;
	text-align:center;
}

/* =================== button ================ */
.btn_area {
    margin: 30px 0 50px 196px;
}

#btn_modify {
    width: 80%;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #74B243;
    font-size: 20px;
    font-weight: 400;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

/* =================== sub_menu check box ================ */

input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
  display: inline-block;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

/* =================== ok ================ */

.ok_table
{
	border-collapse : collapse;
	width: 100% ;
	align: center;
	background-color:white;
}

/* =================== write ================ */


.write_foodtitle
{
	text-align:center; 
	font-size:25px; 
	font-weight:1000;
	height:50px;
}

.write_foodtitle input
{
	width:97%;
	height:30px;
	font-size:25px;
	text-align:center;
}

#btn_write {
    width: 80%;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #74B243;
    font-size: 20px;
    font-weight: 400;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

.boast_input_file {
    display: inline-block;
    justify-content: center;
}
.boast_input_file label {
    cursor: pointer;
    font-size: 1em;
}

#boast_picture {
    display:none;
}

/* =================== img upload ================ */

.filearea
{
	display:hidden;
}

.delBtn{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    background-color: #000;
    color: #fff;
    width: 18px;
    height: 18px;
    line-height: 16px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

/* =================== comment ================ */
.spangreen
{
    color: #74b243;
    display: block;
    font-weight: bold;
    padding-top:5px;
    margin: 0 5px 0 0;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    height: 22px;
    width: 100%;
}

.spanred
{
    color: #F26F1D;
    display: block;
    font-weight: bold;
    padding-top:5px;
    margin: 0 5px 0 0;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    height: 22px;
    width: 100%;
}

/* =================== search ================ */

.searchspan
{
    color: #74b243;
    display: block;
    font-weight: bold;
    padding-top:5px;
    margin: 0 5px 0 0;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    height: 22px;
    width: 10%;
}